h2{
    background-color: #007FFF;
    border: 1px solid black;
    position: relative;
    color: aliceblue;
    border-radius: 5px;
}

h1{
    text-align: center;
}

img{
    position: relative;
    left: 50%;
    border-radius: 45px;
}
body{

}
li{
    position: relative;
    left: 60px;
}