li{
    position: relative;
    left: 130px;
}

.li{
    list-style-type: none;
    margin-top: -37px;
    
}

span{
    color: blue;
    display: block;
    font-size: 13px;
}
.timeline{
    position: relative;
    left: 40px;
    word-wrap: break-word;
    display: inline-block;
    width: 65%;
    
}
.timeline-item1 :before{
 
    position: absolute;
    background-color: black;
    width: 1px;
    height: 80px;
    content: '';
    left: -190px;
}
.timeline-item1 :before{
 
    position: absolute;
    background-color: black;
    width: 1px;
    height: 80px;
    content: '';
    left: -190px;
}
.timeline-item2 :before{
 
    position: absolute;
    background-color: black;
    width: 1px;
    height: 175px;
    content: '';
    left: -190px;
}
.timeline-item3 :before{
 
    position: absolute;
    background-color: black;
    width: 1px;
    height: 50px;
    content: '';
    left: -20px;
   
}
.timeline-details-marker1{
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: -24px;
    margin-bottom: -30px;
}

.timeline-details-marker2{
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 10;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-bottom: -30px;
    margin-left: -25px;
}
.timeline-details-marker3{
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: -25px;
    margin-top: 50px;
    
    
}
.timeline-details-marker4{
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-left: -25px;
}
.timeline-details-marker5{
    border-radius: 50%;
    background-color: white;
    z-index: 10;
    position: absolute;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    margin-left: -25px;
}

.info{
    background: #4682B4;
    color: white;
    display: inline-block;
    width: 30%;
    position: relative;
    top: -600px;
    z-index: 999;
    height: 800px;

}
.img
{
    position: relative;
    top: 5px ;
    border-radius: 50%;
    border: 2px solid white;
    left: 38%;
    margin-bottom: 10px;
}

.clip-me{
    line-height: 20px;
    display: inline-block;
    padding-left: -20px;
    position: relative;
    margin-left: 200px;
    padding: -50px;
    background: #4682B4;
    width: 200px;
    height: 200px;
    -webkit-clip-path: polygon(6.25% 0%, 7.5% 4.25%, 12.25% 4.25%, 8.5% 6.825%, 9.875% 11.375%, 6.25% 8.75%, 2.625% 11.375%, 4% 7.125%, 0.25% 4.375%, 4.875% 4.375%);
}

   
