body{
    
    margin: 0;
    padding: 0;
    background-image: url('vision.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}


.nav-bar{
    height: 100px;
    background-color: black;
}

.icone{
    color: white;
    position: relative;
    left: 25px;
    top: 25px;
}

.h1{
    text-align: center;
    position: relative;
    top: 450px;
    color: cornflowerblue;
    
}

a{
    position: relative;
    display: inline;
    float: right;
    margin-left: 15px;
    color: white;
    text-decoration: none;
}


