body{
    padding: 0;
    margin: 0;
    font-weight: 200;
}





.block{
 height: 855px;
 width: 1500px;
 position: absolute;
 left: 10%;
 top: 20px;
 border: 8px solid #00AB44;
}

.form{
    position: absolute;
    width: 50% ;
    height: 100%;
    display: inline-block;
    right: 0px;
  
}

.img{
    width:45% ;
    height: 100%;
    position: relative;
    display: inline-block;
}

.checkbox{
    display: block;
}

input{
    display: block;
    margin-top: 15px;
}


.area{
    position: relative;
    height: 60px;
    width: 550px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    border: 1px solid #DBDBDB;
    color: #DBDBDB;
    
}

.input{
    display: inline-block;
    height: 600px;
    width: 650px;
    position: relative;
    left: 40px;
    top: 75px;
    
}
form{
    position: relative;
    top: 40px;
    left: 40px;
    
}

.checkbox{
    height: 25px;
    width: 25px;
    color: #DBDBDB;
    opacity: 0.5;
}

.btn{
    position: relative;
    height: 60px;
    width: 550px;
    border-radius: 5px; 
    background-color:#0B559E ;
    font-size: 25px;
    color: #DAF1FB;
    font-weight: 500;
    
}

h1{
    color: #0B559E;
    font-size: 50px;
    text-align: center;
    top: 20px;
    position: relative;
}

h2{
    color: #0B559E;
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    top: 180px;
    left: 79px;

}

p{
    position: absolute;
    left: 40px;
    top: 322px;
    color: #DBDBDB;
    font-size: 16px;
}

