.div1{
    background: red;
    height: 200px;
    width: 200px;
    border: 2.8px solid blue;
}
.div2{
    background: blue;
    height: 130px;
    width: 130px;
    border: 2.8px solid white;
    position: relative;
    left: 40px;
    top: 15px;
    
}

.div3{
    background: yellow;
    height: 200px;
    width: 200px;
    border: 2.8px solid red;
    position: relative;
    content: '';
    top: -120px;
    left: 54px;
    
}

.div4{
    background: yellow;
    height: 90px;
    width: 80px;
    border: 2.8px solid green;
    position: relative;
    left: 40px;
    top: 42px;
    z-index: 999;

}

.div5{
    background: rgb(164, 255, 28);
    height: 100px ;
    width: 95px;
    border: 2.8px solid black;
    position: relative;
    left: 25px;
    top: -35px;
    z-index: 1000;
}

.div6{
    background: red;
    height: 110px;
    width: 110px;
    border: 2.8px solid blue;
    position: relative;
    top: -180px;
    left: 80px;
    z-index: 1;
}



.boite{
    height: 800px;
    width: 800px;
    position: relative;
    left: 45%;
    top: 300px;
}

p{
    margin: 0;
    padding: 0;
}