body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.header-nav{
    position: relative;
    left: 85%;
    top: 30px;
    padding-left: 10px;
    color: black;
    text-decoration: none;

}

a{
    text-decoration: none;
}

img{
    position: absolute;
    left: 42%;
    top: 160px;
}

.search{
    padding-left: 45px;
    margin: 0;
    position: absolute;
    top: 319px;
    left: 680px;
    height: 42px;
    width: 565px;
    border-radius: 24px;   
    font-size: 16.5px;
    padding-top: 0;
    border: 1px solid rgb(212, 208, 208);




}

.english{
    color: #1A0DBE;
}

.button1{
    position: absolute;
    left: 41%;
    top: 389px;
    height: 40px;
    width: 165px;
    border-radius: 5px;
    box-shadow: none;
    border: 0 none;
    background-color: #F2F2F2;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.button2{
    position: absolute;
    left: 50.05%;
    top: 389px;
    height: 40px;
    width: 165px;
    border-radius: 5px;
    box-shadow: none;
    border: 0 none; 
    background-color: #F2F2F2;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

button :hover {

}
input:hover{
    box-shadow: -2px 0px 8px rgb(228, 221, 221);
}

i{
    height: 60px;
    width: 60px;
}

.sub{
    position: absolute;
    top: 448px;
    left: 45%;
    font-size: 13px;
}

.app{
    position: absolute;
    left: 92.5%;
    top: -136px;
}

.ic-1{
    position: absolute;
    left: 66%;
    top: 170px;
    z-index: 1000;
}

.ic-2{
    position: absolute;
    top: 336px;
    left: 36.5%;
    z-index: 1000;
    opacity: 0.5;
}

.profil{
    position: absolute;
    left: 95%;
    top: -150px;
}

.pf-1{
    border-radius: 50%;
}

.footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
}

.div3{
    position: absolute;
    bottom: 0px;
    display: inline;
    bottom: 10px;
    right: 0px;
}

.div2{
    position: absolute;
    display: inline;
    bottom: 5px;
}
.fot{
    position: relative;
    display: inline;
    margin-left: 20px;
    color: black;
}

.coun{
    position: absolute;
    left: 20px;
}

.ligne{
    height: 0.1px;
    color: rgb(149, 149, 149);
}



