body{
    background-color: black;
    margin: 0;
    padding: 0;
}


header{
    position: absolute;
    width: 100%;
    height: 1000px;
}

.name{
    font-size: 40px;
    color: white;
    position: absolute;
    top: -10px;
    left: 55px;
    z-index: 1000;

}

.menu{
    position: absolute;
    left: 60%;
    top: 30px;
    
    
}

a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}



.title{
    color: white;
    position: absolute;
    text-align: center;
    top: 300px;
    left: 550px;
    font-size: 50px;
    z-index: 1000;
}

.btn{
    position: absolute;
    top: 425px;
    left: 690px;
}
button{
    height: 50px;
    width: 140px;
    border-radius: 20px;
    margin-left: 15px;
    color: white;
    font-weight: 500;
    background: linear-gradient( green , red, yellow);
    cursor: pointer;
    
}

#id1{
    text-align: center;
    color: white;
    text-decoration: white;

}

.A-propos{
   
    background-image: url('img/ii.jpeg');
    width: 100%;
    height: 900px;
    position: absolute;
    top: 970px;
}

.A-propos-img{
    position: relative;
    margin-left: 30px;
    top: 60px;
    display: inline-block;
}

.profil{
    position: relative;
    border: 8px solid white;
    top: 40px;
    left: 100px;
}

.A-propos1{
    left: 180px;
    top: 20px;
    margin-left: 10px;
    width: 900px;
    height: 400px;
    position: relative;
    display: inline-block;
}

.propos2{

    position: relative;
    font-size: 25px;
    color: white;
}

.Biographie{
    position: absolute;
    top: 2000px;
    width: 100%;
    height: 900px;

}

.bio{

    display: inline-block;
    position: relative;
}

.bio-bio{
    position: relative;
    display: inline-block;
    height: 800px;
    width: 1000px;
    left: 800px;
    top: -800px;
}

.nai1{
    display: inline;
    position: relative;
    margin-left: 60px;
    font-size: 25px;
    line-height: 55px;
    
}

.nai2{
    line-height: 55px;
    margin-left: 100px;
    position: relative;
    display: inline;
    font-size: 25px;
    color: white;
}

.bio-jpeg{
    position: relative;
    
    left: 100px;
}

.Experience {
    width: 100%;
    height: 800px;
    position: relative ;
    top: 2980px;
    
}

#id2{
    color: white;
    text-align: center;
}

.exp{
    position: relative;
    width: 80%;
    height: 800px;
    
    left: 8%;
    top: 50px;
}

.exp-p{
    position: relative;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

.container-exploit-img{
    
}