body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;

}

header{
    width: 100%;
    height: 150px;
}


.header-logo{
    position: relative;
    top: 50px; 
    left: -7%;
    
}

.header-title , .header-d{
    color: white;
    position: absolute;
    top: 400px;
    left: 10%;
    z-index: 1;
}


.menu{
    position: relative;
    left: 30%;
    top: -45px;
    color: white;

}

a{
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    left: -80px;

    color: black;
}

.container1{
    position: relative;
    top: -45px;
}

.container2{
    position: relative;
    background-color: #FCF2DE;
    width: 100%;
    height: 3000px;
    top: -45px;

}

.container-content2{
    position: relative;
    height: 3000px;
    width: 1400px;
    background-color: white;
    left: 15%;
    top: -60px;
    border-radius: 10px;

}

.img1{
 display: inline-block;
 top: 40px;
 position: relative;
 left: 6.5%;
}

.container-content3{
    top: -2680px;
    position: relative;
    height: 800px;
    width: 1400px;
    left: 15%;
    background-color: #004165;

}

.h2{
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
}

.img2{
    position: relative;
    top: 80px;
    left: 7.5%;
}

.container4{
    position: relative;
    top: -2600px;
    left: 20%;
}

.img4{
    border-radius: 5px;
}

.container5-img{
    top: -2500px;
    position: relative;
    left: 19.5%;
}

.container5-title{
    position: relative;
    top: -2550px;
    text-align: center;
    color: #004165;
    font-weight: 600;
}

.partenaire{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: black;
    top: -2380px;
}

.logo-partenaire{
    position: relative;
    left: 32%;
    top: 45px;

}

.logo-content{
    margin-left: 60px;
}