body{
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}

header{
    width: 100%;
    height: 100px;
    background: white;
    border: 1px solid #F2F2F2;
}


.header-menu{
    position: relative;
    left: 29%;
    top: -10px;
}

.title{
    color: #722D1E;
    position: relative;
    left: 36.5%;
    top: -15px ;

}

.nav{
    text-decoration: none;
    position: relative;
    color: #722D1E;
    margin-left: 40px;
}

.search{
    height: 40px;
    width: 250px;
    border-radius: 25px;
    background-color:#F2F2F2 ;
    border: none;
    padding-left: 30px;
    position: absolute;
    left: 45%;
    top: -40px;

}

.first-container{
    top: 50px;
    position: relative;
    height: 800px;
    width: 1600px;
    background: white;
    left: 8%;
}

.menu{
    position: relative;
    height: 1100px;
    width: 1600px;
    background: white;
    top: 80px;
    left: 8%;
}

.container-title{
    text-align: center;
    font-size: 35px;
    color: #722D1E;
}

.container-img{
    position: relative;
    left: 50px;
    margin-left: 25px;
}

.container-menu{
    height: 700px;
    width: 1200px;
    position: relative;
    left: 15px;
    top: 15px;
}

.content1{
    width: 1000px;
    height: 300px;
    position: relative;
    background: ;
    margin-top: 30px;
    left: 30px;

}

.img-content1{
    position: relative;
    border: 8px solid #722D1E;
    top: 20px;
    left: 20px;
    
    
}

.content-description{
    left: 20px;
    top: -120px;
    display: inline-block;
    position: relative;
    height: 300px;
    width: 700px;
    
}

.content-description-title{
    position: relative;
    top: 100px;
    left: 15px;
    color:#722D1E;
    
}

a{
    text-decoration: none;
}

.para{
    position: relative;
    top: 120px;
    left: 15px;
    color: black;
}

.content-description-img{
    position: relative;
    top: 180px;
    border-radius: 50%;
    border: 4px solid #F2F2F2;
}

h4{
    position: relative;
    top: 120px;
    left: 80px;
    color: #722D1E;
}

.ligne{
    height: 2px;
    width: 990px;
    background-color: #722D1E;
    position: relative;
    left: 20px;
}

.panier{
    position: relative;
    left: 1050px;
    top: -190px;
}

footer{
    height: 200px;
    position: relative;
    width: 1600px;
    background: black;
    top: 100px;
    left: 8%;
}

.footer-copyright{
    color: white;
    font-size: 25px;
    position: relative;
   top: 150px ;
   left: 38%;
}

.contact{
    color: white;
    position: relative;
    font-size: 20px;

}

.tel{
    color: white;
    position: relative;
    font-size: 20px;
}

.video{
    position: relative;
    top: -500px ;
    left: 78% ;
}

iframe{
    position: relative;
    height: 600px;
    width: 350px;
    left: -15px;
}

.ligne-verticale{
    height:790px ;
    width: 2px;
    background: #722D1E;
    position: relative;
    left: 75%;
    top: -1200px;
}

.slide{
    float: left;
}