body{
    padding: 0;
    margin: 0;
}

.header-info{
    width: 100%;
    height: 46px;
    background: black;
}

.header-info-button{
    height: 30px;  
    width: 80px;
    position: relative;
    left: 92%;
    top: -43px;
    border-radius: 20px;
    background: white;
    text-decoration: none;
    color: black;
    z-index: 1000;
}

p{
    color: white;
    margin-left: 10px;
}

.header-info-b1 , .header-info-b2 , .header-info-b3{
    color: white;
}

.header-menu{
    height: 50px;
    width: 100%;
    position: relative;
    
}

input{
    border: 1px rgb(199, 198, 198);
    height: 25px;
    width: 1300px;
    position: relative;
    border-radius: 8px;
    top: 9px;
    left: 3.5%;
    background: #F2F2F2;
    padding-left: 36px;
    
}

.search{
    position: absolute;
    left: 4%;
    top: 15px;
    z-index: 1000;
}

.header-menu-a{
    position: relative;
    left: 1395px ;
    top: -15px;
}

.menu{
    margin-left: 33px;
    color: rgb(163, 163, 163);
    font-weight: 500;
    text-decoration: none;
}

#pin{
    position: absolute;
    left: 15px;
}

.header-menu-a-logo{
    position: relative;
    height: 20px;
    width: 20px;
    background: gray;
    border-radius: 50%;
    top: -35px;
    left: 218px;
    
}
.header-menu-a-logo-p{
    position: relative;
    text-align: center;
    margin-left: 1px;
    margin-bottom:1px;
}

#abn{
    position: relative;
    left: -10px;
}

.header-menu-ligne{
    position: relative;
    width: 1px;
    height: 30px;
    background-color: gray;
    left: 320px;
    top: -60px;
    opacity: 0.5;
}



.header-menu-end{
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    opacity: 0.3;
}

.header-icone{
    width: 150px;
    height: 60px;
    position: relative;
    left: 18%;
    top: -90px;
}
.cloche{
    margin-left: 10;
}

#id3{
    position: relative;
    left: 30px;
}

#id2{
    position: relative;
    left: 15px;
}

.section-content{
    position: relative;
    top: 15px;
    left: 30px;
}

.sc-i{
    position: relative;
    margin-left: 5px;
    
}

#A2  {
    position: relative;
    top: -130px;
}

#A3{
    position: relative;
    top: -45px;
}

#A4{
    position: relative;
    top: -160px;
}

#A5{
    position: relative;
    top: -290px;
}

#A6{
    position: relative;
    top: -185px;
}

#A7{
    position: relative;
    top: -180px;
}

#A8{
    position: relative;
    top: -180px;
}

#A9{
    position: relative;
    top: -180px;
}

#A10{
    position: relative;
    top: -250px;
}

#A11{
    position: relative;
    top: -295px;
}

#A12{
    position: relative;
    top: -160px;
}

#A13{
    position: relative;
    top: -265px;
    left: 65%;
}

#A14{
    position: relative;
    top: -280px;
    left: 32.5%;
}

